
remi-product{
        visibility: visible !important;

    .swiper-container {
      width: 100%;
      height: 100%;
    }

    .swiper-wrapper{
        margin:0;
        list-style:none;
    }

    .product-image{
        width: 100%;
    }
    .product-media {
        position: relative;
        margin: 64px 32px;
        width: 600px;
        min-height: 500px;

        .thumbnails{
            width: 100px;
            display: block;
            padding: 0;
            margin-right: 18px;
            list-style: none;

            li{
                cursor: pointer;
                img{
                    width: 100%
                }
            }
            
        }

        .swiper-button-prev,
        .swiper-button-next{
            transition: opacity .6s ease-in-out;
            opacity: 0;
        }

        .swiper-container:hover .swiper-button-prev,
        .swiper-container:hover .swiper-button-next{
            opacity: 1;
        }
    }
    .product-name{
        font-size: 1.4rem;
        color: #4c4c4c;
        font-weight: 100;
    }
    .product-media>iron-image {
        width: 100%;
        height: 100%;
        background-color: #eee;
    }

    .price {
        font-weight: 600;
        font-size: 1.3rem;
        color: #525252;
    }

    quantity-input {
        margin-right: 16px;
    }

    button.btn-add-cart {
        --mdc-theme-primary: var(--app-secondary-color);
        width: 220px;
        height: 48px;
        border-radius: 24px;
    }

    .detail {
        margin: 64px 16px;
    }

    .color-names {
        color: #000000c7;
    }

    .color-names>span {
        font-weight: 500;
    }
    
    @media only screen and (max-device-width: 480px) and (min-device-width: 320px) {
        quantity-input {
            max-width: 150px;
        }
    }

    @media only screen and (max-device-width: 768px) and (min-device-width: 320px) {
        .main-section {
            flex-direction: column !important;
        }
        .product-media {
            width: 100%;
            height: 546px;
            margin: 0;

            .thumbnails{
                display: none;
            }
        }
        .detail {
            margin-top: 16px;
            display: block !important;
        }
    }
}