
<!-- Header -->

<app-header condenses reveals effects="waterfall">
  <paper-progress indeterminate hidden$="[[!loading]]"></paper-progress>
  <app-toolbar class="toolbar-top" sticky>
    <button class="icon-button"
      id="menu-btn"
      icon="bn-icons:menu" 
      hidden$="[[!_userIsAdmin(_user)]]"
      on-click="_openDrawer">
      <iron-icon icon="bn-icons:menu"></iron-icon>
    </button>

    <a href="/">
      <paper-icon-button icon="bn-icons:arrow-back" id="back-btn"></paper-icon-button>
    </a>
    
    <div main-title>
      <!-- <a href="/">Biness Shop</a> -->
    </div>
    
    <a href="/cart" cart-btn>
      <button class="icon-button">
        <iron-icon icon="bn-icons:cart"></iron-icon>
      </button>
      <span class="cart-badge">[[cartItemsCount]]</span>
    </a>
    
  </app-toolbar>
  <!-- This gets hidden on a small screen-->
  <nav class="toolbar-list">
    <a selected$="[[is_selected(page, 'home')]]" href="/">Home</a>
    <a selected$="[[is_selected(page, 'shop')]]" href="/shop">Shop</a>
    <a selected$="[[is_selected(page, 'about')]]" href="/about">Our Story</a>
    <a selected$="[[is_selected(page, 'contact')]]" href="/contact">Get in touch</a>
  </nav>
  <!-- <category-nav hidden$="[[!is_selected(page, 'shop')]]"></category-nav> -->
  
</app-header>
<!-- Drawer content -->

<template is="dom-if" if="[[_userIsAdmin(_user)]]">
  <app-drawer opened="{{_drawerOpened}}">
    <nav class="drawer-list">
      <a selected$="[[is_selected(_page, 'view2')]]" href="/dashboard">Dashboard</a>
      <a selected$="[[is_selected(_page, 'view3')]]" href="/shop">Shop</a>
      <a selected$="[[is_selected(_page, 'view3')]]" href="/orders">Orders</a>
      <a selected$="[[is_selected(_page, 'view3')]]" href="/blogging">Blog</a>
    </nav>
  </app-drawer>
</template>

<!-- Main content -->
<main class="main-content" id="pages">
  <remi-home page="home"></remi-home>
  <remi-product page="product"></remi-product>
  <remi-about page="about"></remi-about>
  <remi-contact page="contact"></remi-contact>
  <remi-shop page="shop"></remi-shop>
  <remi-cart page="cart"></remi-cart>
  <biness-auth page="auth"></biness-auth>
  <remi-dashboard page="dashboard"></remi-dashboard>
  <remi-products page="products"></remi-products>
  <remi-product-editor page="product-edit"></remi-product-editor>
  <remi-orders page="orders"></remi-orders>
</main>

<footer class="app-footer pad">

</footer>


<biness-cart-data id="cartData"></biness-cart-data>
<biness-cart-modal id="cartModal"></biness-cart-modal>
<biness-shop-filter id="shopFilter"></biness-shop-filter>

<!-- <snack-bar active$="[[toastVisible]]">
  You are now ${_offline ? 'offline' : 'online'}.</snack-bar> -->