    * {
      box-sizing: border-box;
    }

    :root{
      --app-primary-color: #393433;
      --app-secondary-color: #f51681;
      --app-dark-text-color: black;
      --app-light-text-color: #F6F6F6;
      --app-section-even-color: #f7f7f7;
      --app-section-odd-color: white;

      --app-header-background-color: var(--app-primary-color);
      --app-header-text-color: var(--app-light-text-color);
      --app-header-selected-color: var(--app-secondary-color);

      --app-drawer-background-color: var(--app-primary-color);
      --app-drawer-text-color: var(--app-light-text-color);
      --app-drawer-selected-color: #78909C;

      --mdc-theme-primary: var(--app-primary-color);
      --mdc-theme-secondary: var(--app-secondary-color);
    }

    body {
      font-family: 'Montserrat', 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
      line-height: 1.5;
      text-rendering: geometricPrecision;
      -webkit-font-smoothing: antialiased;
      margin: 0;
      height: 100%;
      background-color: var(--app-light-text-color);
    }

    remi-app {
        --app-drawer-width: 256px;
        display: block;
    }

    app-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: var(--app-header-background-color);
        color: var(--app-header-text-color);
        z-index: 3;
    }

    app-drawer {
        z-index: 4;
    }

    remi-app[hide-nav] .toolbar-list {
        display: none;
    }

    remi-app[hide-nav] #menu-btn {
        display: none !important;
    }

    remi-app[hide-nav] #back-btn {
        display: block;
    }

    #back-btn {
        display: none;
    }

    .toolbar-top {
        background-color: var(--app-header-background-color);
    }

    [main-title] {
        font-family: 'Pacifico', cursive;
        text-transform: lowercase;
        font-size: 30px;
        /* In the narrow layout, the toolbar is offset by the width of the
  drawer button, and the text looks not centered. Add a padding to
  match that button */
        padding-right: 44px;
        pointer-events: auto !important;
        color: var(--app-light-text-color);
    }

    .toolbar-list {
        display: none;
        padding-bottom: 16px;
    }

    .toolbar-list>a {
        display: inline-block;
        color: var(--app-light-text-color);
        text-decoration: none;
        line-height: 30px;
        padding: 4px 24px;
    }

    .toolbar-list>a[selected] {
        color: #fdfefe;
        background: #f51681;
        border-radius: 26px;
    }

    .menu-btn {
        background: none;
        border: none;
        fill: var(--app-header-text-color);
        cursor: pointer;
        height: 44px;
        width: 44px;
    }

    .drawer-list {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 24px;
        background: var(--app-drawer-background-color);
        position: relative;
    }

    .drawer-list>a {
        display: block;
        text-decoration: none;
        color: var(--app-drawer-text-color);
        line-height: 40px;
        padding: 0 24px;
    }

    .drawer-list>a[selected] {
        color: var(--app-drawer-selected-color);
    }

    .main-content {
        padding-top: 64px;
        min-height: 100vh;
        background: white;
    }

    #pages [page] {
        display: none;
    }

    #pages [page][active] {
        display: block;
    }

    [cart-btn] {
        position: relative;
    }

    .cart-badge {
        font-size: 12px;
        height: 16px;
        width: 16px;
        background: #ff0057;
        position: absolute;
        top: 0px;
        right: 4px;
        color: white;
        border-radius: 8px;
    }

    /* footer {
  padding: 24px;
  background: var(--app-primary-color);
  color: var(--app-drawer-text-color);
  text-align: center;
} */

    paper-progress {
        width: 100%;
        --paper-progress-active-color: var(--app-secondary-color);
    }

    /* Wide layout: when the viewport width is bigger than 460px, layout
changes to a wide layout. */

    @media (min-width: 460px) {
        .toolbar-list {
            display: block;
        }

        .main-content {
            padding-top: 118px;
        }

        /* The drawer button isn't shown in the wide layout, so we don't
  need to offset the title */
        [main-title] {
            padding-right: 0px;
        }
    }
  .text-center{
    text-align:center;
  }
  .pad{
    padding:16px;
  }
  .content{
    max-width: 1200px;
    margin: 0 auto;
  }
  a{
    text-decoration:none;
    color: inherit;
  }
  .app-section{
    min-height: 10vh;
  }
  .mdc-typography--headline4{
    font-weight: 400;
  }
  .mdc-typography--body2{
    font-size: .9rem;
    font-weight: 400;
  }
  .mdc-typography--headline5 {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: normal;
  }
  button.accent-btn{
    --mdc-theme-primary: white;
    background: #f51681 !important;
    min-width: 125px;
    padding: 0 16px;
    height: 43px;
    border-radius: 4px;
  }
  button.btn-responsive{
    --mdc-theme-primary: white;
    background: #ff0057 !important;
    min-width: 125px;
    padding: 0 35px;
    height: 43px;
    border-radius: 4px;
  }
  
  .card-with--shadow{
    background-color:white;
    box-shadow: 0 8px 16px 0 rgba(40,40,90,.09), 0 3px 6px 0 rgba(0,0,0,.065);
  }
  .switch{
    font-size: 15px;
    color: #393433;
  }
  .switch mwc-switch{
    margin: 0 12px;
  }
  @media only screen and (max-device-width: 480px) and (min-device-width: 320px){
    .hidden-on-small{
      display: none;
    }
    button.btn-responsive{
      width: 100%;
      height: 63px;
      border-radius: 0px !important;
    }
  }
  
  .layout.horizontal,
  .layout.vertical {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  .layout.horizontal {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  .layout.vertical {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .layout.wrap {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .layout.no-wrap {
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .layout.center,
  .layout.center-center {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .layout.center-justified,
  .layout.center-center {
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .flex {
    -ms-flex: 1 1 0.000000001px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0.000000001px;
    flex-basis: 0.000000001px;
  }

  /**
       * Alignment in cross axis.
       */

  .layout.start {
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  .layout.center,
  .layout.center-center {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .layout.end {
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
  }

  .layout.baseline {
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    align-items: baseline;
  }

  /**
    * Alignment in main axis.
    */

  .layout.start-justified {
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }

  .layout.center-justified,
  .layout.center-center {
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .layout.end-justified {
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }

  .layout.around-justified {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }

  .layout.justified {
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
    .flex,
    .flex-1 {
    -ms-flex: 1 1 0.000000001px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0.000000001px;
    flex-basis: 0.000000001px;
    }

    .flex-2 {
    -ms-flex: 2;
    -webkit-flex: 2;
    flex: 2;
    }

    .block {
    display: block;
    }

    [hidden] {
    display: none !important;
    }

    .invisible {
    visibility: hidden !important;
    }

    .relative {
    position: relative;
    }

    .fit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    }

    body.fullbleed {
    margin: 0;
    height: 100vh;
    }

    .scroll {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    }

    /* fixed position */

    .fixed-bottom,
    .fixed-left,
    .fixed-right,
    .fixed-top {
    position: fixed;
    }

    .fixed-top {
    top: 0;
    left: 0;
    right: 0;
    }

    .fixed-right {
    top: 0;
    right: 0;
    bottom: 0;
    }

    .fixed-bottom {
    right: 0;
    bottom: 0;
    left: 0;
    }

    .fixed-left {
    top: 0;
    bottom: 0;
    left: 0;
    }
/* Hide these components until they are loaded */
remi-home, remi-product{
    visibility: hidden;
}