
    remi-product-editor {
        background: #fafafa;
        visibility: visible !important;

        aside {
            width: 400px;
        }

        aside header {
            padding: 16px 0;
        }

        .content {
            padding: 3em 0;
        }

        form {
            padding: 1em 3em;
        }

        form>* {
            margin: 2em 0;
        }

        h1 {
            margin: 0;
            font-size: 1rem;
        }

        remi-media-uploader {
            margin-top: 16px;
            background: white;
        }

        .card-a {
            margin-top: 5em;
        }

        #large-btn{
            width: 100%;
            color: #ffffff;
            background-color:var(--app-primary-color);
        }
}
