
remi-shop{
    visibility: visible !important;

    .feature-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 24px;
    }

    .feature-item {
        grid-column-end: span 2;
    }

    .toolbar {
        padding: 16px 0;
    }

    .heading-wrapper{
        margin-bottom: 3em;
    }
}
@media only screen and (max-device-width: 480px) and (min-device-width: 320px) {
    remi-shop{
        .feature-item {
            grid-column-end: span 6;
        }
    }
}

@media only screen and (max-device-width: 768px) and (min-device-width: 480px) {
    remi-shop{
        .feature-item {
            grid-column-end: span 3;
        }
    }
}
