
<!-- Header -->

<app-header condenses reveals effects="waterfall">
  
  <div role="progressbar" id="progress" class="mdc-linear-progress mdc-linear-progress--indeterminate" hidden$="[[!loading]]">
    <div class="mdc-linear-progress__buffering-dots"></div>
    <div class="mdc-linear-progress__buffer"></div>
    <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
      <span class="mdc-linear-progress__bar-inner"></span>
    </div>
    <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
      <span class="mdc-linear-progress__bar-inner"></span>
    </div>
  </div>

  <app-toolbar class="toolbar-top" sticky>
    <!-- <button class="icon-button"
      id="menu-btn"
      icon="bn-icons:menu" 
      hidden$="[[!_userIsAdmin(_user)]]"
      on-click="_openDrawer">
      <iron-icon icon="bn-icons:menu"></iron-icon>
    </button> -->

    <a href="/" id="back-btn">
      <button class="icon-button">
        <iron-icon icon="bn-icons:arrow-back"></iron-icon>
      </button>
    </a>
    
    <a href="/" class="logo">
      <svg viewBox="0 0 256 252" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        preserveAspectRatio="xMidYMid">
        <g>
          <path d="M256,128 C256,57.308 198.692,0 128,0 C57.308,0 0,57.308 0,128 C0,187.228 40.228,237.059 94.851,251.664 C104.346,210.601 114.11,168.559 117.646,149.167 C119.239,139.832 116.684,136.854 110.178,133.352 C84.148,122.973 58.173,131.265 38.843,93.045 C89.255,100.458 115.998,88.738 128.794,110.178 L128.794,110.18 C141.59,88.74 168.333,100.46 218.744,93.047 C199.414,131.267 173.44,122.975 147.41,133.354 C140.904,136.856 138.349,139.834 139.942,149.17 C143.466,168.496 153.177,210.323 162.642,251.255 C216.503,236.148 256,186.687 256,128"
            fill="#fff"></path>
        </g>
      </svg>
    </a>
    <span class="flex"></span>
    
    <a href="/cart" cart-btn title="your cart">
      <button class="icon-button">
        <iron-icon icon="bn-icons:cart"></iron-icon>
      </button>
      <span class="cart-badge">[[cartItemsCount]]</span>
    </a>
    <a href="/account" cart-btn title="your account">
      <button class="icon-button">
        <iron-icon icon="bn-icons:person"></iron-icon>
      </button>
    </a>
    
  </app-toolbar>
  <!-- This gets hidden on a small screen-->
  <!-- <nav class="toolbar-list">
    <a selected$="[[is_selected(page, 'home')]]" href="/">Home</a>
    <a selected$="[[is_selected(page, 'shop')]]" href="/shop">Shop</a>
    <a selected$="[[is_selected(page, 'about')]]" href="/about">Our Story</a>
    <a selected$="[[is_selected(page, 'contact')]]" href="/contact">Get in touch</a>
  </nav> -->
  <!-- <category-nav hidden$="[[!is_selected(page, 'shop')]]"></category-nav> -->
  
</app-header>
<!-- Drawer content -->

<template is="dom-if" if="[[_userIsAdmin(_user)]]">
  <app-drawer opened="{{_drawerOpened}}">
    <nav class="drawer-list">
      <a selected$="[[is_selected(page, 'dashboard')]]" href="/dashboard">
        <iron-icon icon="bn-icons:dashboard"></iron-icon>
        <span>Dashboard</span>
      </a>
      <a selected$="[[is_selected(page, 'store')]]" href="/store">
        <iron-icon icon="bn-icons:cart"></iron-icon>
        <span>Store</span>
      </a>
      <a selected$="[[is_selected(page, 'orders')]]" href="/orders">
        <iron-icon icon="bn-icons:orders"></iron-icon>
        <span>Orders</span>
      </a>
      <a selected$="[[is_selected(_page, 'view3')]]" href="/blogging">
        <iron-icon icon="bn-icons:blog"></iron-icon>
        <span>Blog</span>
      </a>
    </nav>
  </app-drawer>
</template>

<!-- Main content -->
<main class="main-content" id="pages">
  <remi-home page="home"></remi-home>
  <remi-product page="product"></remi-product>
  <remi-about page="about"></remi-about>
  <remi-contact page="contact"></remi-contact>
  <remi-shop page="shop"></remi-shop>
  <remi-cart page="cart"></remi-cart>
  <biness-auth page="auth"></biness-auth>
  <remi-products page="products"></remi-products>
  <remi-product-editor page="product-edit"></remi-product-editor>
  
  <!-- Admin pages -->
  <remi-orders page="orders"></remi-orders>
  <biness-store page="store"></biness-store>
  <remi-dashboard page="dashboard"></remi-dashboard>
  
</main>

<footer class="app-footer pad">

</footer>


<biness-cart-data id="cartData"></biness-cart-data>
<biness-cart-modal id="cartModal"></biness-cart-modal>
<biness-shop-filter id="shopFilter"></biness-shop-filter>

<!-- <snack-bar active$="[[toastVisible]]">
  You are now ${_offline ? 'offline' : 'online'}.</snack-bar> -->