
remi-home{
    visibility: visible !important;
    padding: 3em 0;

    remi-product-item{
        height: 550px;
    }

    .home-products{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
    }

    .home-wrapper>header{
        margin-bottom: 3em;
    }
    .tabs{
        padding: 16px;

        .tab-link{
            padding: 16px;
            font-weight: 600;
            color: #0e0e0e94;

            &:hover, &[selected]{
                border-color: black;
                color: black;
            }
        }
    }
    
}

@media only screen and (max-device-width: 768px) {
    remi-home{
        remi-product-item{
            height: 350px;
        }

        .home-wrapper>header{
            display: block !important;
        }

        button.mdc-button{
            margin-top: 35px;
        }
    }

    
}