
remi-cart {
    padding-bottom: 4em;
    visibility: visible !important;

    remi-cart-item {
        background-color: white;
        margin: 16px 0;
        box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
    }

    header>div {
        text-align: center;
    }

    p span {
        font-weight: 600;
    }

    .footer-inner {
        padding: 16px 0;
        min-height: 50px;
        color: white;
        font-size: 18px;
        text-align: center;
    }

    footer {
        margin-top: 3em;
    }

    button {
        border-radius: 23px !important;
    }
}

@media (max-width: 767px) {
    remi-cart {

        footer {
                position: fixed;
                bottom: 0;
                width: 100%;
                background-color: white;
        }
        .footer-inner {
                padding: 0;
        }
    }
}
